# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [3]:
df.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [4]:
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [5]:
def col_clean(df):
    """changes col names to lowercase and replaces white space with an underscore
        df: dataframe
    """
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ','_')

    return df

In [6]:
df = col_clean(df)
df.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [7]:
#changing two column names for clarity
df.rename(columns={'st':'state',
                   'number_of_open_complaints':'open_complaints'}, inplace=True)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'open_complaints', 'policy_type',
       'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

### Cleaning `state` column

In [8]:
df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

In [9]:
df.state.replace({'AZ':'Arizona',
                  'WA':'Washington',
                  'Cali':'California'},
                 inplace = True)

### Cleaning `gender`column

In [10]:
df.gender.unique()

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

In [11]:
df.gender.replace({'Femal':'F',
                   'Male': 'M',
                   'female':'F'},
                  inplace=True)

In [12]:
df.gender.unique()

array([nan, 'F', 'M'], dtype=object)

### Cleaning `education` column

In [13]:
df.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

In [14]:
df.education.replace({'Bachelors':'Bachelor',
                      'College':'Bachelor'},
                      inplace = True)

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   state                    1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   object
 5   income                   1071 non-null   float64
 6   monthly_premium_auto     1071 non-null   float64
 7   open_complaints          1071 non-null   object
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [16]:
#customer_lifetime_value has a percent sign in the text - remove percent sign and change to float

df.customer_lifetime_value = df.customer_lifetime_value.str.replace('%','')
df.customer_lifetime_value = df.customer_lifetime_value.astype('float')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   state                    1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   float64
 5   income                   1071 non-null   float64
 6   monthly_premium_auto     1071 non-null   float64
 7   open_complaints          1071 non-null   object
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [18]:
#total claim amount col should have only two decimal places

df.total_claim_amount = df.total_claim_amount.round(2)

In [19]:
# need first digit from open_complaints col -- change to float (can't change to int because of the NaNs)
df_test = df.copy()
df_test.open_complaints=df_test.open_complaints.str[0]
#df_test.open_complaints[:2]

#change open_complaints to float
df_test.open_complaints = df_test.open_complaints.astype(float)
df = df_test

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [20]:
df.isnull().sum()

customer                   2937
state                      2937
gender                     3054
education                  2937
customer_lifetime_value    2940
income                     2937
monthly_premium_auto       2937
open_complaints            2937
policy_type                2937
vehicle_class              2937
total_claim_amount         2937
dtype: int64

In [21]:
missing_values_df = pd.DataFrame(round(df.isna().sum()/len(df),4)*100)
missing_values_df

                             0
customer                 73.28
state                    73.28
gender                   76.20
education                73.28
customer_lifetime_value  73.35
income                   73.28
monthly_premium_auto     73.28
open_complaints          73.28
policy_type              73.28
vehicle_class            73.28
total_claim_amount       73.28

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customer                 1071 non-null   object
 1   state                    1071 non-null   object
 2   gender                   954 non-null    object
 3   education                1071 non-null   object
 4   customer_lifetime_value  1068 non-null   float64
 5   income                   1071 non-null   float64
 6   monthly_premium_auto     1071 non-null   float64
 7   open_complaints          1071 non-null   float64
 8   policy_type              1071 non-null   object
 9   vehicle_class            1071 non-null   object
 10  total_claim_amount       1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB

In [23]:
df.head(3)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1.0,Personal Auto,Four-Door Car,2.70
1,QZ44356,Arizona,F,Bachelor,697953.59,0.0,94.0,1.0,Personal Auto,Four-Door Car,1131.46
2,AI49188,Nevada,F,Bachelor,1288743.17,48767.0,108.0,1.0,Personal Auto,Two-Door Car,566.47

### Replacing NaNs in categorical variables

In [27]:
import numpy as np
def replace_missing_values_in_categorical_columns(df: pd.DataFrame, val_to_fill:str) ->pd.DataFrame:
    '''
    Replaces the missing values in all categorical columns with the value 'Unknown'

    Input
    df: DataFrame
    val_to_fill: the value you want to replace the NaNs with

    Output
    df: DataFrame

    '''

    # Make a copy of the dataframe
    df2 = df.copy()

    # Select the categorical columns
    df2_categorical = df2.select_dtypes('object')

    #Get columns names with missing values
    columns_with_nas = df2_categorical[df2_categorical.columns[df2_categorical.isna().any()]]

    # Iterate over the columns with missing values to replace them
    for column in columns_with_nas:
        df2[column] = df2[column].fillna(val_to_fill)

    return df2

In [33]:
df = replace_missing_values_in_categorical_columns(df,'Unknown')

### Replaceing NaNs in numeric variables

In [41]:
def replace_missing_values_in_numerical_columns(df: pd.DataFrame,  strategy='mean') ->pd.DataFrame:
    '''
    Replaces the missing values in all numerical columns with either the mean, median or mode

    Input
    df: DataFrame
    strategy: the central tendency type you want to use

    Output
    df: DataFrame
    '''

    # Make a copy of the dataframe
    df2 = df.copy()

    # Select the numerical columns
    df2_numerical = df2.select_dtypes(np.number)

    # Get the columns names with missing values
    columns_with_nas = df2_numerical[df2_numerical.columns[df2_numerical.isna().any()]]

    # Iterate over the columns with missing values to replace them
    for column in columns_with_nas:
        if strategy == "mean":
            mean_value = df2[column].mean()
            df2[column] = df2[column].fillna(mean_value)
        elif strategy == "median":
            median_value = df2[column].median()
            df2[column] = df2[column].fillna(median_value)
        elif strategy == "mode":
            mode_value = df2[column].mode()[0]
            df2[column] = df2[column].fillna(mode_value)
    
    return df2

In [46]:
df = replace_missing_values_in_numerical_columns(df,'median')

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [ ]:
dups = df[df.duplicated()]
dups

In [49]:
# Your code here
def drop_duplicate_rows(df:pd.DataFrame)->pd.DataFrame:
    df_temp = df.copy()

    df_temp = df_temp.drop_duplicates()

    return df_temp

In [51]:
df = drop_duplicate_rows(df)

In [53]:
#df.to_csv('file1_cleaned.csv',index=False)

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
import pandas as pd
import numpy as np

def clean_col_names(df:pd.DataFrame)->pd.DataFrame:
    """changes col names to lowercase and replaces white space with an underscore

    Input
    df: pd.DataFrame

    Output
    df: pd.DataFrame

    """
    df_temp = df.copy()
    df_temp.columns = df_temp.columns.str.lower()
    df_temp.columns = df_temp.columns.str.replace(' ','_')

    return df_temp

def rename_col_names(df:pd.DataFrame,col_name_dict:dict)->pd.DataFrame:
    """
    replaces column names with other new column names as set in the dict

    Input
    df: pd.DataFrame
    rename_dict: dictionary with the old column names and the new ones

    Output
    df: pd.DataFrame

    """
    df_temp = df.copy()
    df_temp.rename(columns=col_name_dict, inplace=True)
    return df_temp

def harmonize_col_values(df:pd.DataFrame,harmonize_col:str, harmonize_dict:dict)->pd.DataFrame:
    """
    harmonize column values

    Input
    df: pd.DataFrame
    harmonize_col: column where the values are located
    harmonize_dict: dictionary with the column values to change and the new column values

    Output
    df: pd.DataFrame
    """
    df_temp = df.copy()
    df_temp[harmonize_col].replace(harmonize_dict,inplace=True)
    return df_temp

def replace_col_characters(df:pd.DataFrame,replace_col:str,old_char:str,new_char:str)->pd.DataFrame:
    """
    replace a character in a column value

    Input
    df: pd.DataFrame
    replace_col: column where value is to be replaced
    old_char: the character you want removed
    new_char: the character you want to add

    Output
    df: pd.DataFrame
    """
    df_temp = df.copy()
    df_temp[replace_col] = df_temp[replace_col].str.replace(old_char,new_char)
    return df_temp

def set_type(df:pd.DataFrame,change_type_col:str, type=float)->pd.DataFrame:
    """
    changes the dtype in a column

    Input
    df: pd.DataFrame
    change_type_col: column
    type: dtype you want, default is float

    Output
    df: pd.DataFrame

    """
    df_temp = df.copy()
    df_temp[change_type_col] = df_temp[change_type_col].astype(type)
    return df_temp

def round_col_num(df:pd.DataFrame,round_col:str,places:int)->pd.DataFrame:
    """
    round numbers

    Input
    df: pd.DataFrame
    round_col: column
    places: number of places to round to

    Output
    df: pd.DataFrame

    """
    df_temp = df.copy()
    df_temp[round_col] = df_temp[round_col].round(places)
    return df_temp

def get_str_element(df:pd.DataFrame,get_col:str,str_index:int)->pd.DataFrame:
    """
    replaces column values with an element in the column
    example: 'abc' --> 'a'

    Input
    df: pd.DataFrame
    get_col: col
    str_index: index of string element

    Output
    df: pd.DataFrame
    """
    df_temp = df.copy()
    df_temp[get_col] = df_temp[get_col].str[str_index]
    return df_temp

def replace_missing_values_in_categorical_columns(df: pd.DataFrame, val_to_fill:str) ->pd.DataFrame:
    '''
    Replaces the missing values in all categorical columns with the specified value

    Input
    df: DataFrame
    val_to_fill: the value you want to replace the NaNs with

    Output
    df: DataFrame

    '''

    # Make a copy of the dataframe
    df_temp = df.copy()

    # Select the categorical columns
    df_temp_categorical = df_temp.select_dtypes('object')

    #Get columns names with missing values
    columns_with_nas = df_temp_categorical[df_temp_categorical.columns[df_temp_categorical.isna().any()]]

    # Iterate over the columns with missing values to replace them
    for column in columns_with_nas:
        df_temp[column] = df_temp[column].fillna(val_to_fill)

    return df_temp

def replace_missing_values_in_numerical_columns(df: pd.DataFrame,  strategy='mean') ->pd.DataFrame:
    '''
    Replaces the missing values in all numerical columns with either the mean, median or mode

    Input
    df: DataFrame
    strategy: the central tendency type you want to use

    Output
    df: DataFrame
    '''

    # Make a copy of the dataframe
    df2 = df.copy()

    # Select the numerical columns
    df2_numerical = df2.select_dtypes(np.number)

    # Get the columns names with missing values
    columns_with_nas = df2_numerical[df2_numerical.columns[df2_numerical.isna().any()]]

    # Iterate over the columns with missing values to replace them
    for column in columns_with_nas:
        if strategy == "mean":
            mean_value = df2[column].mean()
            df2[column] = df2[column].fillna(mean_value)
        elif strategy == "median":
            median_value = df2[column].median()
            df2[column] = df2[column].fillna(median_value)
        elif strategy == "mode":
            mode_value = df2[column].mode()[0]
            df2[column] = df2[column].fillna(mode_value)

    return df2

def drop_duplicate_rows(df:pd.DataFrame)->pd.DataFrame:
    """
    drops duplicates in complete rows
    :param df: pd.DataFrame
    :return: pd.DataFrame

    """
    df_temp = df.copy()
    df_temp = df_temp.drop_duplicates()
    return df_temp


def clean_df(df:pd.DataFrame) -> pd.DataFrame:

    #get copy of df
    df_temp = df.copy()

    df_temp = clean_col_names(df_temp)
    df_temp = rename_col_names(df_temp,col_rename_dict)

    #harmonize state,gender,education cols
    df_temp = harmonize_col_values(df_temp, 'state', state_harmonize_dict)
    df_temp = harmonize_col_values(df_temp, 'gender', gender_harmonize_dict)
    df_temp = harmonize_col_values(df_temp, 'education', education_harmonize_dict)

    #formatting data types
    df_temp = replace_col_characters(df_temp, 'customer_lifetime_value', '%','')
    df_temp = set_type(df_temp,'customer_lifetime_value',float)

    df_temp = round_col_num(df_temp,'total_claim_amount', 2)

    df_temp = get_str_element(df_temp, 'open_complaints', 0)
    df_temp = set_type(df_temp, 'open_complaints',float)

    #dealing with null values
    df_temp = replace_missing_values_in_categorical_columns(df_temp, 'Unknown')
    df_temp = replace_missing_values_in_numerical_columns(df_temp,'median')

    #dealing with duplicates
    df_temp = drop_duplicate_rows(df_temp)


    return df_temp

if __name__ == "__main__":

    col_rename_dict = {'st':'state',
                        'number_of_open_complaints':'open_complaints'}

    state_harmonize_dict = {'AZ':'Arizona',
                            'WA':'Washington',
                            'Cali':'California'}

    gender_harmonize_dict = {'Femal':'F',
                             'Male': 'M',
                             'female':'F'}

    education_harmonize_dict = {'Bachelors':'Bachelor',
                                'College':'Bachelor'}

    df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

    df = clean_df(df)

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [57]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [61]:
# stats for total claim amount and customer lifetime value

df[['total_claim_amount','customer_lifetime_value']].describe()

       total_claim_amount  customer_lifetime_value
count             1072.00                  1072.00
mean               404.94                792923.41
std                292.89                642397.98
min                  0.38                200435.07
25%                202.51                405405.10
50%                354.73                588174.23
75%                532.80                893767.48
max               2893.24               5816655.35

In [65]:
#customers with high policy claim and low customer lifetime value
high_claim = df['total_claim_amount']>=df['total_claim_amount'].quantile(0.75)
low_clv = df['customer_lifetime_value']<=df['customer_lifetime_value'].quantile(0.25)

high_claim_low_val = df[high_claim & low_clv]
high_claim_low_val.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,open_complaints,policy_type,vehicle_class,total_claim_amount
17,OE15005,California,Unknown,Bachelor,394524.16,28855.00,101.00,1.00,Personal Auto,SUV,647.44
23,TZ98966,Nevada,Unknown,Bachelor,245019.10,0.00,73.00,1.00,Corporate Auto,Four-Door Car,554.38
26,US89481,California,Unknown,Bachelor,394637.21,0.00,111.00,1.00,Personal Auto,Four-Door Car,799.20
38,CM61827,Oregon,Unknown,Bachelor,309003.41,0.00,90.00,1.00,Personal Auto,Two-Door Car,648.00
42,IL19217,California,Unknown,Bachelor,393900.64,60021.00,99.00,1.00,Personal Auto,Four-Door Car,882.87

In [66]:
#summary stats for the high claim and low CLV group

high_claim_low_val[['total_claim_amount','customer_lifetime_value']].describe()

       total_claim_amount  customer_lifetime_value
count               41.00                    41.00
mean               719.12                340056.27
std                150.39                 57043.70
min                532.80                228759.69
25%                632.72                289873.27
50%                679.37                365253.24
75%                799.20                387364.70
max               1185.99                402381.44